@media (min-width: 768px) {
	body {
		text-align: left;
	}

	.logos {
		width: unset;

		.hide-desktop {
			display: none;
		}
	}

	.navbar {
		width: 90%;

		.nav-list {
			display: flex;
		}
	}

	.footer {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		gap: 15%;
	}

	//will use images as backgrounds on desktop
	.mbl-img {
		display: none;
	}

	.section__first {
		background-image: url("/images/illustration-editor-desktop.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom right -30%;
		margin: 100px 0;
	}

	.section__middle {
		display: grid;
		grid-template-columns: 1fr 1fr;

		text-card {
			width: 40%;
		}
	}

	.section-title {
		text-align: center;
		margin-bottom: 100px;

		&__white {
			margin-bottom: 10px;
			text-align: left;
		}
	}

	.text-container {
		width: 50%;
		margin-left: 100px;
	}

	.mb-close {
		display: none;
	}
}
